@charset "UTF-8";
@-webkit-keyframes btnOver {
  0% {
    transform: scaleY(1);
  }
  35% {
    transform: scaleY(1.2);
  }
  90% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes btnOver {
  0% {
    transform: scaleY(1);
  }
  35% {
    transform: scaleY(1.2);
  }
  90% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes circleOverL {
  0% {
    opacity: 1;
    transform: translate(-1px);
  }
  35% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }
  80% {
    opacity: 1;
    width: 20px;
    height: 20px;
  }
  90% {
    opacity: 0.5;
    transform: translate(-20px, -20px);
    width: 10px;
    height: 10px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes circleOverL {
  0% {
    opacity: 1;
    transform: translate(-1px);
  }
  35% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }
  80% {
    opacity: 1;
    width: 20px;
    height: 20px;
  }
  90% {
    opacity: 0.5;
    transform: translate(-20px, -20px);
    width: 10px;
    height: 10px;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes circleOverR {
  0% {
    opacity: 1;
    transform: translate(1px);
  }
  35% {
    opacity: 1;
    transform: translate(10px, 10px);
  }
  80% {
    opacity: 1;
    width: 20px;
    height: 20px;
  }
  90% {
    opacity: 0.5;
    transform: translate(20px, 20px);
    width: 10px;
    height: 10px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes circleOverR {
  0% {
    opacity: 1;
    transform: translate(1px);
  }
  35% {
    opacity: 1;
    transform: translate(10px, 10px);
  }
  80% {
    opacity: 1;
    width: 20px;
    height: 20px;
  }
  90% {
    opacity: 0.5;
    transform: translate(20px, 20px);
    width: 10px;
    height: 10px;
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: RocknRollOne;
  src: url(../font/RocknRoll_One/RocknRollOne-Regular.ttf);
}
html {
  font-size: clamp(12px, 2.5vw, 16px);
}

body {
  background-color: #FFF7F0;
  color: #222;
  margin: 0;
}

.tindonman {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
}
.tindonman__img {
  height: 110px;
  background-image: url(../images/tindonman.png);
  background-repeat: repeat-x;
}

.on {
  display: block;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.btn__design {
  display: inline-block;
  background-color: #D93245;
  width: 7rem;
  height: 2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 2rem;
  border: 1px #fff solid;
  border-radius: 3px;
  outline: #D93245 4px solid;
  position: relative;
  z-index: 99;
}
.btn__circle {
  position: absolute;
  background-color: #D93245;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  z-index: 98;
}
.btn__circle.Left1 {
  top: 0;
  left: 0;
}
.btn__circle.Right1 {
  right: 0;
  bottom: 0;
}
.btn.on .btn__design {
  outline: #D93245 4px solid;
  -webkit-animation: btnOver 0.5s cubic-bezier(0.8, 0.07, 0.94, 0.42) forwards;
          animation: btnOver 0.5s cubic-bezier(0.8, 0.07, 0.94, 0.42) forwards;
}
.btn.on .btn__circle.Left1 {
  -webkit-animation: circleOverL 0.5s cubic-bezier(0.93, 0.13, 0.45, 0.54) forwards;
          animation: circleOverL 0.5s cubic-bezier(0.93, 0.13, 0.45, 0.54) forwards;
}
.btn.on .btn__circle.Right1 {
  -webkit-animation: circleOverR 0.5s cubic-bezier(0.93, 0.13, 0.45, 0.54) forwards;
          animation: circleOverR 0.5s cubic-bezier(0.93, 0.13, 0.45, 0.54) forwards;
}

.header {
  position: fixed;
}
.header__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.header__img {
  width: 114px;
  height: auto;
}
.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: none;
}
.header__hamburger {
  background-color: #ED7222;
  padding: 2px;
  width: 30px;
  border-radius: 10px;
}

.footer {
  padding-top: 100px;
  background-color: #fff;
}
.footer__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.footer__icon {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer__icon--logo {
  width: 115px;
}
.footer__icon--sns {
  width: 34px;
}
.footer__hold {
  margin-bottom: 32px;
}
.footer__hold__title {
  font-family: RocknRollOne;
  font-size: 1.5rem;
  color: #592A0C;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}
.footer__hold__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__address__contents {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}
.footer__address__title {
  font-family: RocknRollOne;
  font-size: 1.5rem;
  color: #592A0C;
  text-align: left;
  margin: 0;
}
.footer__address__text {
  font-weight: bold;
  margin-left: 32px;
}
.footer__index {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D93245;
  width: 80%;
  border-radius: 5px;
}
.footer__index-contents {
  list-style: none;
  display: none;
}
.footer__index-title {
  text-align: center;
  color: #fff;
}
.footer__index-link {
  text-decoration: none;
  font-size: 1rem;
  color: #222;
}
.footer__index-list {
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  padding: 16px 95px;
  margin-bottom: 8px;
}

.firstview {
  position: relative;
  height: 100vh;
}
.firstview__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstview__stall {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.history {
  margin: 100px 0;
  background: url(../images/street.png) repeat-x bottom right;
  width: 100%;
}
.history__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.history__mode {
  width: 100%;
  padding-bottom: 300px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.history__mode__title {
  font-family: RocknRollOne;
  font-size: 40px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  writing-mode: vertical-rl;
}
.history__mode__text {
  height: 18em;
  writing-mode: vertical-rl;
}
.history__btn {
  writing-mode: vertical-rl;
  text-align: right;
}
.history__btn__design {
  display: inline-block;
  background-color: #D93245;
  width: 2rem;
  height: 7rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 2rem;
  border: 1px #fff solid;
  border-radius: 3px;
  outline: #D93245 4px solid;
  position: relative;
  z-index: 99;
}

.summary__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.summary__title {
  font-family: RocknRollOne;
  font-size: 40px;
  color: #592A0C;
  text-align: center;
  margin: 0;
}
.summary__event {
  display: flex;
  justify-content: space-between;
}
.summary__event--title {
  font-family: RocknRollOne;
  font-size: 40px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  writing-mode: vertical-lr;
}
.summary__content {
  width: 300px;
}
.summary__content__title {
  font-family: RocknRollOne;
  font-size: 24px;
  color: #592A0C;
  text-align: left;
  margin: 0;
}
.summary__btn {
  text-align: center;
  font-size: 24px;
  font-family: RocknRollOne;
}
.summary__btn__design {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #F6AD3C;
  padding: 100px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.access {
  margin: 100px 0;
}
.access__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.access__title {
  font-family: RocknRollOne;
  font-size: 40px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
.access__title-sub {
  font-family: RocknRollOne;
  font-size: 24px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}
.access__contents {
  text-align: center;
  margin-bottom: 32px;
}
.access__contents__text span {
  margin-left: 1rem;
}
.access__contents-title {
  font-family: RocknRollOne;
  font-size: 32px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  color: #222;
}
.access__map {
  margin-top: 32px;
}
.access__list {
  list-style: none;
  text-align: center;
}
.access__list:nth-child(2n+1) {
  background-color: #ED7222;
  color: #fff;
  padding: 16px 0;
  border-radius: 100px;
}
.access__list:nth-child(2n) {
  width: 317px;
  font-size: 12px;
  padding: 16px 0;
  border-radius: 0 0 15px 15px;
  background-color: #FFE071;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.access__list:nth-child(2n)::after {
  content: "↓";
  position: absolute;
  color: #ED7222;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 8px;
}
.access__iframe {
  width: 100%;
  height: 234px;
}

.social {
  margin-bottom: 329px;
}
.social__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.social__title {
  font-family: RocknRollOne;
  font-size: 40px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
.social__contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.social__hoge {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.social__hogehoge {
  background-image: url(../images/degea.jpeg);
  overflow: hidden;
  border-radius: 10px;
  padding: 15.7%;
  margin: 0 3px;
  margin-bottom: 6px;
}
.social__hogehoge img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 10px;
}
.social__text {
  line-height: 3;
}
.social__text--title {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
}

.venue {
  margin: 100px 0;
}
.venue__inner {
  width: 77.7%;
  margin-left: auto;
  margin-right: auto;
}
.venue__tab {
  display: flex;
  list-style: none;
}
.venue__tab-list {
  font-family: RocknRollOne;
  font-size: 16px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  border-radius: 10px 10px 0 0;
  padding: 9px;
  color: #fff;
  width: 33.3333333333%;
  background-color: #D93245;
  border: 2px solid #222;
}
.venue__tab-list.show {
  font-size: 16px;
  padding: 9px 28px;
  color: #592A0C;
  background-color: #fff;
}
.venue__box {
  text-align: center;
}
.venue__box-title {
  display: none;
}
.venue__box-text {
  margin-bottom: 24px;
}
.venue__box-text-sub {
  font-family: RocknRollOne;
  font-size: 24px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.venue__box-img {
  width: 100%;
}
.venue__menu {
  background-color: #fff;
  padding: 24px;
  border: 2px solid #222;
}
.venue__wrapper-cms {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.venue__wrapper-title {
  margin: 16px;
  font-size: 24px;
  font-weight: normal;
}
.venue__wrapper td {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #FFAB5E;
}

.operation {
  margin: 100px 0;
}
.operation__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
  border: #fff 8px solid;
  outline: #FFAB5E 8px solid;
}
.operation__content {
  border: #FFAB5E 8px solid;
}
.operation__title {
  font-family: RocknRollOne;
  font-size: 24px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
.operation__box {
  background-color: #fff;
  padding: 32px;
}
.operation__box:nth-child(n+2) {
  border-top: 10px dashed #FFAB5E;
}
.operation__text {
  text-align: center;
}
.operation__patronage {
  margin-bottom: 32px;
}

.questions {
  margin-bottom: 48px;
}
.questions__titleerea {
  padding: 32px;
  padding-left: 6.15vw;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  box-shadow: 1px 3px 5px #666;
}
.questions__title {
  font-family: RocknRollOne;
  color: #592A0C;
  font-style: 32px;
  writing-mode: vertical-rl;
}
.questions__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.questions__text {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 6.15vw;
  line-height: 2.5;
  margin: 0;
}
.questions__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.questions__item {
  display: flex;
  flex-direction: column;
}
.questions__item.off .question__plus__line:last-child {
  transform: rotate(90deg) translateX(-2px);
  transition: 0.5s;
}
.questions__item.off .answer {
  display: none;
}
.questions__items {
  font-size: 1.125rem;
}
.questions__items .question {
  display: inline-block;
  padding: 1.5rem 25px 1.5rem 6.15vw;
  background-color: #fff;
  border-radius: 0 40px 40px 0;
  position: relative;
  max-width: 809px;
  margin-bottom: 48px;
  margin-right: 6.15vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions__items .question__plus__line {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: #222;
}
.questions__items .question__plus__line:last-child {
  transform: rotate(0) translateY(-2px);
  transition: 0.5s;
}
.questions__items .question p {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0;
}
.questions__items .question::before {
  content: "Q";
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: -30px;
  color: #FFAB5E;
}
.questions__items .answer {
  position: relative;
  display: inline-block;
  padding: 1.5rem 6.15vw 1.5rem 40px;
  background-color: #fff;
  border-radius: 40px 0 0 40px;
  margin-bottom: 48px;
  margin-left: auto;
  max-width: 809px;
}
.questions__items .answer::before {
  content: "A";
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: -30px;
  color: #00f;
}

.contact {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  width: clamp(342px, 2vw, 608px);
}
.contact__title {
  width: 200px;
  font-size: 24px;
  padding: 8px 24px;
  font-weight: bold;
  border-radius: 34px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 24px;
  box-shadow: 1px 3px 5px #666;
}
.contact__form {
  box-shadow: 1px 3px 5px #666;
  text-align: center;
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
}
.contact__btn .btn__design {
  width: 14.5rem;
  text-align: center;
}

.main__title {
  font-family: RocknRollOne;
  font-size: 40px;
  color: #592A0C;
  text-align: center;
  margin: 0;
  writing-mode: vertical-lr;
  margin-left: auto;
  margin-right: auto;
}

.instrument__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.instrument__title {
  font-family: RocknRollOne;
  font-size: 40px;
  color: #592A0C;
  text-align: center;
  margin: 0;
}
.instrument__image {
  margin: 32px 0;
  background-color: #ddd;
  width: 100%;
  height: auto;
  padding: 100px 200px;
  border-radius: 10px;
}

.gallery__inner {
  width: 87.7%;
  margin-left: auto;
  margin-right: auto;
}
.gallery__title {
  font-family: RocknRollOne;
  font-size: 40px;
  color: #592A0C;
  text-align: center;
  margin: 0;
}

@media (min-width: 980px) {
  .venue {
    margin: 100px 0;
  }
  .venue__inner {
    width: 77.7%;
    margin-left: auto;
    margin-right: auto;
  }
  .venue__tab-list {
    font-family: RocknRollOne;
    font-size: 32px;
    color: #592A0C;
    text-align: center;
    margin: 0;
    padding: 32px;
    color: #fff;
    width: 33.3333333333%;
    background-color: #D93245;
    border: 2px solid #222;
  }
  .venue__tab-list.show {
    font-family: RocknRollOne;
    font-size: 32px;
    color: #592A0C;
    text-align: center;
    margin: 0;
    padding: 40px;
    color: #592A0C;
    background-color: #fff;
  }
  .venue__box {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .venue__box-title {
    display: block;
    text-align: center;
  }
  .venue__box-text {
    margin-bottom: 24px;
  }
  .venue__box-text-sub {
    font-family: RocknRollOne;
    font-size: 24px;
    color: #592A0C;
    text-align: center;
    margin: 0;
    margin-bottom: 24px;
  }
  .venue__box-img {
    width: 70%;
  }
  .venue__menu {
    background-color: #fff;
    padding: 24px;
    border: 2px solid #222;
  }
  .venue__wrapper-cms {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .venue__wrapper-title {
    margin: 16px;
    font-size: 24px;
    font-weight: normal;
  }
  .venue__wrapper td {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #FFAB5E;
  }
  .access__map {
    display: flex;
    align-items: flex-end;
  }
  .access__list:nth-child(2n+1) {
    padding: 24px;
    border-radius: 100px;
    position: relative;
  }
  .access__list:nth-child(2n) {
    width: auto;
    padding: 8px;
    border-radius: 0 15px 15px 0;
  }
  .access__list:nth-child(2n)::after {
    content: "→";
    bottom: auto;
    left: auto;
    right: 0;
    margin-top: auto;
  }
  .access__iframe {
    height: 410px;
  }
  .social__contents {
    flex-wrap: nowrap;
  }
  .operation__inner {
    width: 87.7%;
    margin-left: auto;
    margin-right: auto;
    border: #fff 24px solid;
    outline: #FFAB5E 24px solid;
  }
  .operation__content {
    border: #FFAB5E 24px solid;
  }
}
/*# sourceMappingURL=style.css.map */