@charset "utf-8";

$btnCubic: cubic-bezier(.8, .07, .94, .42);
$circleCubic: cubic-bezier(.93, .13, .45, .54);
$text-color: #222;


@keyframes btnOver {
    0% {
        transform: scaleY(1);
    }

    35% {
        transform: scaleY(1.2);
    }

    90% {
        transform: scaleY(0.9);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes circleOverL {
    0% {
        opacity: 1;
        transform: translate(-1px);
    }

    35% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }

    80% {
        opacity: 1;
        width: 20px;
        height: 20px;
    }

    90% {
        opacity: 0.5;
        transform: translate(-20px, -20px);
        width: 10px;
        height: 10px;
    }

    100% {
        opacity: 0;

    }
}

@keyframes circleOverR {
    0% {
        opacity: 1;
        transform: translate(1px);
    }

    35% {
        opacity: 1;
        transform: translate(10px, 10px);
    }

    80% {
        opacity: 1;
        width: 20px;
        height: 20px;
    }

    90% {
        opacity: 0.5;
        transform: translate(20px, 20px);
        width: 10px;
        height: 10px;
    }

    100% {
        opacity: 0;

    }
}

@mixin inner($a: 87.7%) {
    width: $a;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
    display: flex;
    align-items: $a;
    justify-content: $j;
}

@font-face {
    font-family: RocknRollOne;
    src: url(../font/RocknRoll_One/RocknRollOne-Regular.ttf);
}

@mixin title($size: 40px, $align: center) {
    font-family: RocknRollOne;
    font-size: $size;
    color: #592A0C;
    text-align: $align;
    margin: 0;
}

//BASE-------------------------------------------------------------------------------------
html {
    font-size: clamp(12px, 2.5vw, 16px);
}

body {
    background-color: #FFF7F0;
    color: #222;
    margin: 0;
}

.tindonman {
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0;

    &__img {
        height: 110px;
        background-image: url(../images/tindonman.png);
        background-repeat: repeat-x;
    }
}

.on {
    display: block
}

.btn {
    width: fit-content;
    position: relative;

    &__design {
        display: inline-block;
        background-color: #D93245;
        width: 7rem;
        height: 2rem;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 2rem;
        border: 1px #fff solid;
        border-radius: 3px;
        outline: #D93245 4px solid;
        position: relative;
        z-index: 99;
    }

    &__circle {
        position: absolute;
        background-color: #D93245;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        opacity: 0;
        z-index: 98;

        &.Left1 {
            top: 0;
            left: 0;
        }

        &.Right1 {
            right: 0;
            bottom: 0;
        }
    }

    &.on {

        .btn__design {
            outline: #D93245 4px solid;
            animation: btnOver .5s $btnCubic forwards;
        }

        .btn__circle {

            &.Left1 {
                animation: circleOverL .5s $circleCubic forwards;
            }

            &.Right1 {
                animation: circleOverR .5s $circleCubic forwards;
            }
        }
    }
}

//INDEX---------------------------------------------------------------------------------------
.header {
    position: fixed;

    &__inner {
        @include inner();
    }

    &__img {
        width: 114px;
        height: auto;
    }

    &__contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: none;
    }

    &__hamburger {
        background-color: #ED7222;
        padding: 2px;
        width: 30px;
        border-radius: 10px;
    }
}

.footer {
    padding-top: 100px;
    background-color: #fff;

    &__inner {
        @include inner();
    }

    &__icon {
        display: flex;
        justify-content: space-between;
        text-align: center;

        &--logo {
            width: 115px;
        }

        &--sns {
            width: 34px;
        }

    }

    &__hold {
        margin-bottom: 32px;

        &__title {
            @include title(1.5rem, left);
            margin-bottom: 20px;
        }

        &__link {
            display: flex;
            justify-content: space-between;
            align-items: center
        }
    }

    &__address {
        &__contents {
            margin-bottom: 32px;
            display: flex;
            align-items: center;
        }

        &__title {
            @include title(1.5rem, left);
        }

        &__text {
            font-weight: bold;
            margin-left: 32px;
        }
    }

    &__index {
        padding: 16px;
        margin-left: auto;
        margin-right: auto;
        background-color: #D93245;
        width: 80%;
        border-radius: 5px;

        &-contents {
            list-style: none;
            display: none;
        }

        &-title {
            text-align: center;
            color: #fff;
        }

        &-link {
            text-decoration: none;
            font-size: 1rem;
            color: #222;
        }

        &-list {
            border-radius: 5px;
            text-align: center;
            background-color: #fff;
            padding: 16px 95px;
            margin-bottom: 8px;
        }
    }
}






.firstview {
    position: relative;
    height: 100vh;

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__stall {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }
}

.history {
    margin: 100px 0;
    background: url(../images/street.png) repeat-x bottom right;


    width: 100%;

    &__inner {
        @include inner();

    }

    &__mode {
        width: 100%;
        padding-bottom: 300px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;


        &__title {
            @include title();
            writing-mode: vertical-rl;
        }

        &__text {
            height: 18em;
            writing-mode: vertical-rl;
        }


    }

    &__btn {
        writing-mode: vertical-rl;
        text-align: right;

        &__design {
            display: inline-block;
            background-color: #D93245;
            width: 2rem;
            height: 7rem;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-size: 0.75rem;
            font-weight: bold;
            line-height: 2rem;
            border: 1px #fff solid;
            border-radius: 3px;
            outline: #D93245 4px solid;
            position: relative;
            z-index: 99;
        }
    }
}

.summary {
    &__inner {
        @include inner();
    }

    &__title {
        @include title();
    }

    &__event {
        display: flex;
        justify-content: space-between;

        &--title {
            @include title();
            writing-mode: vertical-lr;
        }
    }

    &__content {
        width: 300px;

        &__title {
            @include title(24px, left);
        }
    }

    &__btn {
        text-align: center;
        font-size: 24px;
        font-family: RocknRollOne;

        &__design {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            background-color: #F6AD3C;
            padding: 100px;
            width: 100px;
            height: 100px;
            border-radius: 100px;
        }
    }
}

.access {
    margin: 100px 0;

    &__inner {
        @include inner(87.7%);
    }

    &__title {
        @include title();
        margin-bottom: 32px;

        &-sub {
            @include title(24px, center);
            margin-bottom: 8px;
        }
    }

    &__contents {
        text-align: center;
        margin-bottom: 32px;

        &__text span {
            margin-left: 1rem;
        }

        &-title {
            @include title(32px, center);
            color: #222;
        }
    }

    &__map {
        margin-top: 32px;
    }

    &__list {
        list-style: none;
        text-align: center;

    }

    &__list:nth-child(2n+1) {
        background-color: #ED7222;
        color: #fff;
        padding: 16px 0;
        border-radius: 100px;
    }

    &__list:nth-child(2n) {
        width: 317px;
        font-size: 12px;
        padding: 16px 0;
        border-radius: 0 0 15px 15px;
        background-color: #FFE071;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    &__list:nth-child(2n)::after {
        content: "↓";
        position: absolute;
        color: #ED7222;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 8px;
    }



    &__iframe {
        width: 100%;
        height: 234px;
    }
}

.social {
    margin-bottom: 329px;

    &__inner {
        @include inner();
    }

    &__title {
        @include title();
        margin-bottom: 32px;
    }

    &__contents {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    &__hoge {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    &__hogehoge {
        background-image: url(../images/degea.jpeg);
        overflow: hidden;
        border-radius: 10px;
        padding: 15.7%;
        margin: 0 3px;
        margin-bottom: 6px;
    }

    &__hogehoge img {
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 10px;

    }

    &__text {
        line-height: 3;

        &--title {
            font-size: 24px;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 24px;
        }
    }
}

// EVENT
.venue {
    margin: 100px 0;

    &__inner {
        @include inner(77.7%);
    }

    &__tab {
        display: flex;
        list-style: none;

        &-list {
            @include title(16px, center);
            border-radius: 10px 10px 0 0;
            padding: 9px;
            color: #fff;
            width: calc(100% / 3);
            background-color: #D93245;
            border: 2px solid #222;
        }

        &-list.show {
            font-size: 16px;
            padding: 9px 28px;
            color: #592A0C;
            background-color: #fff;
        }
    }

    &__box {
        text-align: center;

        &-title {
            display: none;
        }

        &-text {
            margin-bottom: 24px;

            &-sub {
                @include title(24px, center);
                margin-bottom: 24px;
            }
        }

        &-img {
            width: 100%;
        }
    }

    &__menu {
        background-color: #fff;
        padding: 24px;
        border: 2px solid #222;
    }

    &__wrapper {

        &-cms {
            display: flex;
            justify-content: space-between;
            text-align: center;
        }

        &-title {
            margin: 16px;
            font-size: 24px;
            font-weight: normal;
        }

        td {
            margin-bottom: 16px;
            padding-bottom: 8px;
            border-bottom: 1px solid #FFAB5E;
        }
    }
}

.operation {
    margin: 100px 0;

    &__inner {
        @include inner();
        border: #fff 8px solid;
        outline: #FFAB5E 8px solid;
    }

    &__content {
        border: #FFAB5E 8px solid;
    }

    &__title {
        @include title(24px, center);
        margin-bottom: 32px;
    }

    &__box {
        background-color: #fff;
        padding: 32px;
    }

    &__box:nth-child(n+2) {
        border-top: 10px dashed #FFAB5E;
    }

    &__text {
        text-align: center;
    }

    &__patronage {
        margin-bottom: 32px;
    }
}


.questions {
    margin-bottom: 48px;

    &__titleerea {
        padding: 32px;
        padding-left: 6.15vw;
        border-radius: 0 10px 10px 0;
        background-color: #fff;
        box-shadow: 1px 3px 5px #666;
    }

    &__title {
        font-family: RocknRollOne;
        color: #592A0C;
        font-style: 32px;
        writing-mode: vertical-rl;
    }

    &__inner {
        @include inner();
    }

    &__text {
        display: inline-block;
        width: fit-content;
        padding-right: 6.15vw;
        line-height: 2.5;
        margin: 0;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &.off {

            .question {
                &__plus__line {
                    &:last-child {
                        transform: rotate(90deg) translateX(-2px);
                        transition: .5s;
                    }
                }
            }

            .answer {
                display: none;

            }
        }
    }

    &__items {

        font-size: 1.125rem;

        .question {
            display: inline-block;
            padding: 1.5rem 25px 1.5rem 6.15vw;
            background-color: #fff;
            border-radius: 0 40px 40px 0;
            position: relative;
            max-width: 809px;
            margin-bottom: 48px;
            margin-right: 6.15vw;
            @include flex();

            &__plus {

                &__line {
                    display: block;
                    width: 20px;
                    height: 2px;
                    border-radius: 1px;
                    background-color: $text-color;

                    &:last-child {

                        transform: rotate(0) translateY(-2px);
                        transition: .5s;

                    }
                }
            }

            p {
                @include inner();
                display: block;
                margin: 0;
            }


            &::before {
                content: "Q";
                font-size: 32px;
                font-weight: bold;
                position: absolute;
                top: -30px;
                color: #FFAB5E;
            }
        }



        .answer {

            position: relative;
            display: inline-block;
            padding: 1.5rem 6.15vw 1.5rem 40px;
            background-color: #fff;
            border-radius: 40px 0 0 40px;
            margin-bottom: 48px;
            margin-left: auto;
            max-width: 809px;

            &::before {
                content: "A";
                font-size: 32px;
                font-weight: bold;
                position: absolute;
                top: -30px;
                color: #00f;
            }

        }

        //         ::before {
        //     content: "Q";
        //     font-size: 32px;
        //     font-weight: bold;
        //     position: absolute;
        //     top: -30px;
        //     color: #FFAB5E;
        // }


        // ::before {
        //     content: "A";
        //     font-size: 32px;
        //     font-weight: bold;
        //     position: absolute;
        //     top: -30px;
        //     color: #00f;
        // }

    }
}

.contact {
    @include inner();
    margin-left: auto;
    margin-bottom: auto;
    width: clamp(342px, 2vw, 608px);

    &__title {
        width: 200px;
        font-size: 24px;
        padding: 8px 24px;
        font-weight: bold;
        border-radius: (68/2)+px;
        text-align: center;
        background-color: #fff;
        margin: 0 auto;
        margin-bottom: 24px;
        box-shadow: 1px 3px 5px #666;
    }

    &__form {
        box-shadow: 1px 3px 5px #666;
        text-align: center;
        background-color: #fff;
        padding: 24px;
        border-radius: 10px
    }

    &__btn {
        .btn__design {
            width: 14.5rem;
            text-align: center;
        }
    }


}


// HISTORY
.main {
    &__title {
        @include title();
        writing-mode: vertical-lr;
        margin-left: auto;
        margin-right: auto;
    }
}

.instrument {
    &__inner {
        @include inner();
    }

    &__title {
        @include title();
    }

    &__image {
        margin: 32px 0;
        background-color: #ddd;
        width: 100%;
        height: auto;
        padding: 100px 200px;
        border-radius: 10px;
    }
}

.gallery {
    &__inner {
        @include inner();
    }

    &__title {
        @include title();
    }
}

@media (min-width:980px) {

    .venue {
        margin: 100px 0;

        &__inner {
            @include inner(77.7%);
        }

        &__tab {
            &-list {
                @include title(32px, center);
                padding: 32px;
                color: #fff;
                width: calc(100% / 3);
                background-color: #D93245;
                border: 2px solid #222;
            }

            &-list.show {
                @include title(32px, center);
                padding: 40px;
                color: #592A0C;
                background-color: #fff;
            }
        }

        &__box {
            text-align: center;
            display: flex;
            justify-content: space-between;

            &-title {
                display: block;
                text-align: center;
            }

            &-text {
                margin-bottom: 24px;

                &-sub {
                    @include title(24px, center);
                    margin-bottom: 24px;
                }
            }

            &-img {
                width: 70%;
            }
        }

        &__menu {
            background-color: #fff;
            padding: 24px;
            border: 2px solid #222;
        }

        &__wrapper {

            &-cms {
                display: flex;
                justify-content: space-between;
                text-align: center;
            }

            &-title {
                margin: 16px;
                font-size: 24px;
                font-weight: normal;
            }

            td {
                margin-bottom: 16px;
                padding-bottom: 8px;
                border-bottom: 1px solid #FFAB5E;
            }
        }
    }

    .access {
        &__map {
            display: flex;
            align-items: flex-end;
        }

        &__list:nth-child(2n+1) {
            padding: 24px;
            border-radius: 100px;
            position: relative;
        }

        &__list:nth-child(2n) {
            width: auto;
            padding: 8px;
            border-radius: 0 15px 15px 0;
        }

        &__list:nth-child(2n)::after {
            content: "→";
            bottom: auto;
            left: auto;
            right: 0;
            margin-top: auto;
        }

        &__iframe {
            height: 410px;
        }
    }

    .social {
        &__contents {
            flex-wrap: nowrap;
        }
    }

    .operation {
        &__inner {
            @include inner();
            border: #fff 24px solid;
            outline: #FFAB5E 24px solid;
        }

        &__content {
            border: #FFAB5E 24px solid;
        }
    }
}